<nav>
  <div class="container">

    <a
      routerLink="/home"
      id="logo"
    >
      conduit
    </a>

    <div class="float-right">
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="menu"
      >
        Home
      </a>
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="menu"
      >
        Sign in
      </a>
      <a
        routerLink="/register"
        routerLinkActive="active"
        class="menu"
      >
        Sign up
      </a>
    </div>

  </div>
</nav>
