<div class="center bg-green">
  <h1 id="logo">
    conduit
  </h1>
  <p id="lead">
    Um lugar para você compartilhar todo o seu conhecimento!
  </p>
</div>
<div class="container row sm-vertical">
  <div class="col">
    <nav>
      <a
        routerLink="my-feed"
        routerLinkActive="active"
      >
        Meu feed
      </a>
      <a
        routerLink="global-feed"
        routerLinkActive="active"
      >
        Feed global
      </a>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <aside
    class="no-flex"
    style="width: 180px;"
  >
    Tags populares...
    <br />
    <app-tag-list></app-tag-list>
  </aside>
</div>
